$color-a: #0F668E;
$color-b: #1F94CA;
$color-c: #35B0E8;
$color-d: #A8E0FB;
$color-e: #F5FCFF;
$color-f: #DFEEF5;
$color-g: #041E2A;
$color-h: #CAE2EC;

$color-text: $color-g;
$color-text-inverted: rgba(4,30,42,.5);
$color-background: $color-b;
$color-inverted: rgba(245,252,255,.9);

$color-success: #01D162;
$color-error: #DB0A43;
$color-disabled: $color-e;
$color-disabled-border: $color-f;
