<span class="game__sound game__sound--disabled">
    <input type="checkbox" class="game__sound-toggle" name="sound" data-sound id="sound" checked>
    <label class="game__sound-state" for="sound"></label>
</span>
